*  {
  /* outline:1px solid green !important; */
  box-sizing: border-box;
} 

html {
 scroll-behavior: smooth; 
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.flo {
  overflow: hidden;
}

.head-banner {
  margin: auto;
  background-color: #21204A;
  background-image: url(/images/Noise.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /* Add this line */
  background-attachment: fixed;
  width: 100%;
  max-height: 554px;
  position: relative;
}
.head-info {
  clear: both;
  overflow: auto;
  position: relative;
  z-index: 50;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  clear: both;


}

.container-main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    clear: both;
    position: relative;
    z-index: 75;
  }

  .container-main:after {
    content: '';
    display: block;
    clear: both;

  }
body {
    background-color: #dddddd;
    width: 100%;
    font-family: "Poppins", sans-serif;

  }
  /* HEAD INFORMATION BLOCK*/
  
  .header {
    padding: 24px 0px;
    clear: both;

  }
  .header-menu {
    clear: both;
    overflow: hidden;
  }
  .header-menu ul {
    clear: both;
    overflow: auto;
  }
  .header-menu li {
    float: left;
    padding: 0px 27px;

}

 

.header-menu li a {
  text-decoration: none;
  color: #BDCADB;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  text-align: center;
  border-bottom: 1px solid transparent;
  padding: 10px;
  display: inline-block;
  /* height: 45px; */
  max-height: 45px;
}
.header-menu li:last-child {
  padding-right: 62px;
}

  .header-menu li:first-child {
    font-family: Poppins;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    /* border-bottom: 2px solid white;
    border-width: ; */
  }
  .header-menu li a:hover {
   color: #bdcadbd7;
   border-bottom: 2px solid white;
   
  }


  /* a {
    transition: background-color 0.3s; 
    border: none;
    outline: none;
  } */

  .header-menu a:hover {
    transform: scale(0.90);
    transition: transform 0.3s;
    color: #bdcadbd7;
  }


  .header-button {
    padding: 10px 26px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #BDCADB;
    border-radius: 14px;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #BDCADB;
  
  
}
.header-button:hover {
  transform: scale(0.92);
  transition: transform 0.6s;
  border-radius: 14px;
  border: 1px solid #bdcadbd7;
  color: #bdcadbd7;

}


/*   
  .header-button:active {
    transform: scale(0.95);
    transition: background-color 0.50s, transform 0.10s;
    border-radius: 12px;
    border: 2px solid rgb(125, 3, 99);
    color: rgb(125, 3, 99);
  } */
  
  /* END OF HEAD INFORMATION BLOCK */

      /*HEAD INFO RIGHT BLOCK AND LEFT BLOCK - HEADER , TEXT - AND IMAGE*/

  

.header-leftcol {
  padding-top: 78px;
}
.header-leftcol:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}
.header-left_creator {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to right, #F906F9, #0698F9);
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  text-align: left;
}
.header-leftcol h1 {
  color: white;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  font-style: normal;
}

.header-leftcol .header-leftcol_text {
  color: #BDCADB;
  font-size: 14px;
  line-height: 22px;
  font-weight: 200;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 48px;

}
.illum-card {
  position: absolute;
  top: 22%;
  left: 48%;
  max-width: 577px;
}
.illum-card_icon3{
  position: absolute;
  top: 83px;
  left: 47%;
}
.illum-card_icon2 {
  position: absolute;
  top: 83px;
  right: 324px;
}
.illum-card_icon1 {
  position: absolute;
  /* bottom: -63px; */
  right: 365px;
  top: 500px;
}
.illum-card_thick {
  position: absolute;
  top: 324px;
  left: 677px;
}

.illum-card_surface {
  position: absolute;
  top: 315px;
  
  left: 673px;
}

.illum-card_text {
  position: absolute;
  top: 301px;
  left: 756px;
  /* transform: rotate(32deg); */
  /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 200;
  line-height: 18px;
  /* text-align: left; */
  color: white;
  /* transform: rotateX(-7deg); */
  transform: rotate3d(1, 0, 1, 47deg);
  font-style: oblique;
}
.illum-card_title {
  position: absolute;
  left: 729px;
  top: 348px;
  /* transform: rotate(32deg); */
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: white;
  /* transform: rotateX(-7deg); */
  transform: rotate3d(1, 0, 1, 47deg);
  font-style: oblique;
}



.header-rightcol {
  overflow: auto;
  clear: right;
  position: relative;
}

.header-rightcol:after {
    content: "";
    display:block;   
    clear: both;      
}

.header-menu-info {
  clear: both;
  overflow: auto;
  margin:24px 0;

}

.explore-btn {
  border-radius: 12px;
  border: none;
  padding: 4px 4px 4px 24px;
  width: 192px;
  height: 48px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  margin: auto;
  text-align: center;

  background: #F906F9;
  background: linear-gradient(to right, #F906F9 0%, #0698F9 64%);
  overflow: auto;
  cursor: pointer;
}

.explore-btn:hover {
  transform: scale(0.95);
  transition: background-color 0.3s, transform 0.10s;
  background: #F906F9;
  background: linear-gradient(to right, #f906f976 0%, #0698f9e3 64%);
  overflow: auto;
}

.exp-btn-box {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

.exp-btn-box:active {
  background-color: transparent;
}

.exp-btn-img {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.exp-text {
  padding-top: 8px;
}

main {
  clear: both;

}

.section1_info {
  clear: both;
  padding-top: 62px;
    padding-bottom: 32px;
}
/*END OF EDITING HEADER BLOCK */

/*FIRST BLOCK CARD GROUP*/
.cards-container {
  
  margin: 61px 0px 132px 0px;
}
.cards-container::after {
  content: "";
  display: block;
  overflow: auto;
  clear: both;
}
.cards-container1::after {
  content: "";
  display: block;
  overflow: auto;
  clear: both;
}
.popular-collections {
  padding-bottom: 32px;
}

.popular-collections::after{
  content: "";
  display: block;
  overflow: auto;
  clear: both;
}
.card-collection:after {
  content: "";
  display: block;
  overflow: auto;
  clear: both;
}
.section1_info:after {
  content: "";
  display: block;
  overflow: auto;
  clear: both;
}


.hot-actions {
 
  clear: both;
}

.left-info h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #F906F9,#0698F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.drop-list-btn {
  padding: 2px 16px 0px 26px;
}

select {
  width: 146px;
  height: 44px;
  padding: 10px 16px 10px 24px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  outline: none;
  border: none;
}

select:hover {
  background: #F906F9;
  background:  #d6e7ff;
  overflow: auto;
  color: #03387e;
  background-image: url('/images/icons/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px; /* Размер вашей пользовательской стрелки */
  text-align: center;

}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding:10px 35px 10px 24px;
    font-size: 16px;
    border: 0px solid #CDE2FE;
    border-radius: 12px;
    background-color: #CDE2FE;
    color: #476285;
    background-image: url('/images/icons/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px; /* Размер вашей пользовательской стрелки */
    text-align: center;
    gap: 10px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.left-info form {
  border-radius: 12px;
  padding-top: 2px;
}

.card-bid-title {
  padding: 16px 0 12px 0;
}


.card-bid1 {
  border-radius: 16px;
  padding: 16px;
  background-color: white;

  margin: 0px 21px 0px 0px;
}
.card-bid1:hover {
  transform: scale(0.96);
  transition: 0.2s ease;
  cursor: pointer;
}
.card-bid1:last-child{
  margin: 0;
}

.hot-title {
  font-size: 18px;
  line-height: 24px;

  font-weight: 500;
  color: #21204A;
}

.hot-text {
  font-size: 12px;
  line-height: 16px;

  font-weight: 400;
  color: #9D9BB9;
}

.hot-subtitle1 p  {
  font-size: 12px;
  line-height: 16px;

  font-weight: 400;
  color: #9D9BB9;
}

.hot-subtitle2 p {
  font-size: 12px;
  line-height: 16px;

  font-weight: 400;
  color: #9D9BB9;
}

.hot-subtitle1 h3 {
  font-size: 16px;
  line-height: 24px;

  font-weight: 500;
  color: #21204A;
}

.hot-subtitle2 h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #21204A;
}


.hot-bottom-card {
  overflow: auto;
  clear: both;
  padding-top: 12px;

}
.bottom-card_right a {
  display: inline-block;
}
.bottom-card_left a {
  display: inline-block;
}
.hot-bottom-card figcaption{
  padding: 4px 0 4px 9px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: rgba(157, 155, 185, 1);
}

.bottom-card_right img a {
  display: inline-block;
}


.hot-artist-name {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #9D9BB9;
}

hr {
  width: 250px;
      background: linear-gradient(to right, rgba(255, 126, 95, 0), rgba(6, 152, 249, 1), rgba(249, 6, 249, 1), rgba(255, 126, 95, 0)); 
  border: 0;
  height: 1px;
}


.sort-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 24px 10px 24px;
  font-size: 16px;
  border: 2px solid rgba(102, 146, 204, 1);
  border-radius: 12px;
  background-color: transparent;
  color: rgba(102, 146, 204, 1);
  text-align: center;
  gap: 10px;
  margin: auto;
  margin-top: 2px;
  box-sizing: border-box;
}

.sort-btn:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: calc(0.3s);
}



.sort-btn a {
  text-decoration: none;
  box-sizing: border-box;
  color: rgba(102, 146, 204, 1);

}

.sort-btn1 {
  padding-left: 8px;
}

.sort-btn1 a {
  text-align: center;
  border-radius: 0px;
}

.sort-btn1 a{
 display:-moz-inline-box;
  display:inline-block;
  min-width:34px;
}

.sort-btn1 img {
  width: 44px;
  height: 44px;
  float: right;
}

.sort-btn1 img:hover {
  transform: scale(0.95);
  transition: calc(0.3s);

}


/*END OF BLOCK 1 CARDS GROUP*/

 /* POPULAR COLLECTIONS CONTAINER */

 .popular-coll-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: rgba(33, 32, 74, 1);
 }
 .popular-coll-title:after {
  content:'';
  display: block;
  clear: both;
  overflow: auto;
 }

 .select-data {
  border-radius: 12px;
  background-color: rgba(205, 226, 254, 1);
  font-size: 16px;
  outline: none;
  border: none;
 }

 .select-data a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgba(110, 132, 171, 1);
  font-size: 16px;
  line-height: 24px;

  font-weight: 400;
 }
.select-data-links {
  clear: both;
  margin: auto;
}
.select-data-links ul {
  margin: auto;
}
 .select-data-links li {
  display: inline-block;
 }

 .select-data-links ul{
  padding: 6px;
 }

 .select-data-links  li a{
  padding:4px 8px 4px 8px ;
 }
 

 /* .select-data-links ul li:first-of-type{
  width: 67px;
  height: 32px;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 12px;
 }
  */
  .select-data-links ul li:hover {
    width: auto;
    height: 32px;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 12px;
    transition: calc(0.1s);
  
  }
  .select-data-links ul li:active {
    width: auto;
    height: 32px;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 12px;
    opacity: 0.5;

 
  }

 .select-data-links li:first-child a {
  color: rgba(71, 98, 133, 1);
  font-weight: 500;
 }

.sort-btn1:hover img{
  cursor: pointer;
}
/*END OF POPULAR COLLECTIONS BLOCK MENU EDITING*/
  /*CARD SLOTS FOR POPULAR COLLECTIONS  */ 

.cards-container article hr {
  margin: 0;
}
.cards-container2 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: 24px;
}
.cards-container2:last-child{
  margin: 0;
}
.cards-container2:after {
  content: '';
  display: block;
  clear: both;
}

.cards-position {
  clear: both;
  overflow: auto;
}

.right-img_slot a:first-of-type {
  display: block;
  overflow: auto;
}
.right-img_slot a:nth-child(2){
  display: inline-block;
  /*max-width: 76px;*/
}
.right-img_slot a:nth-child(3){
  display: inline-block;
  /*max-width: 76px;*/
}
.card-coll-img3 {
  padding-left: 8px;
}
.card-coll-img4 {
  padding-left: 4px;
}
.cards-position img {
  display: inline-block;
  overflow: auto;
  /* max-width: 76px; */
}
.cards-container:after  {
  display: block;
  clear: both;
  overflow: auto;
}
.card-coll-img2 {
  padding: 16px 16px 8px 8px;
}
.card-coll-image4 {
  display: block;
}
.cards-position .card-coll-img1 {
  padding: 16px 0px 16px 16px;
}

.cards-position .card-coll-img1:hover {
  transform: scale(0.97);
  transition: 0.2s;
}



.cards-position .card-coll-img2:hover {
  transform: scale(0.97);
  transition: 0.2s;
}

.card-coll-imag3 {
  padding: 0 0 0 8px;
  display: block;
}
.cards-position .card-coll-img3:hover {
  transform: scale(0.96);
  transition: 0.2s;
}

.cards-position .card-coll-img4:hover {
  transform: scale(0.96);
  transition: 0.2s;
}



.block1-cards-info h3 {
    font-size: 16px;
    list-style: 24px;
    font-weight: 600;

}

.block1-cards-info p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(157, 155, 185, 1);
 
}

.block2-card-info h3 {
  font-size: 16px;
  list-style: 24px;
  font-weight: 600;
  display: inline-block;
}
.block2-card-info p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(157, 155, 185, 1);
  text-align: right;
}
.bottom-card_block {
  overflow: auto;
}
.bottom-card-position {
  clear: both;
  overflow: auto;
  padding: 0 16px 16px 16px;
}


/* TOP ARTISTS BLOCK CONTAINER INFO*/
.top-artists-row1 {
  padding-top: 132px;
}
.top-artists-row1:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}
.top-artists-row2:after {
  content: '';
  display: block;
  clear: both;
}
.top-artists-row1 h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
.artists-items:after {
  content: '';
  display: block;
  clear: both;
}
/*-- TOP ARTISTS CONTAINER CARD (1)*/
.artist-card1 {
  padding-top: 32px;
}
.artist-card1:after {
  content: '';
  display: block;
  clear: both;
}
.artist-card1 h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(69, 18, 84, 1);
  padding: 15px;
}
.artist-card1 img:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.artist-info1:after {
  content: '';
  display: block;
  clear: both;
}

.artist-info1 h3 {
  margin: 0px;
  padding: 0px 0px 0px 12px;
}
.artist-info1 a {
  display: inline-block;
}
.artist-info1 a:first-of-type {
  padding: 10px 0px 0px 73px;
}
.artist-info1 img {
  display: block;
}

.artist-info1-1:after {
  content: '';
  display: block;
  clear: both;
}
.artist-info1-1 img {
  float: left;
  padding: 6px 6px 6px 10px;
}
.artist-info1-1 p:first-of-type{
  font-size: 16px;
  margin-top: 8px;
  margin-left: 1px;
}
.artist-info1-1 p:last-child {
  text-align: right;
}

.artist-info1-1 p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  align-items: right;
  color: rgba(157, 155, 185, 1);
}
/*-- TOP ARTISTS CONTAINER CARD (2)*/

.artist-card2 {
  padding-top: 32px;
}
.artist-card2:after {
  content: '';
  display: block;
  clear: both;
}
.artist-card2 h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(69, 18, 84, 1);
  padding: 15px 10.45px 15px 15px;
}
.artist-card2 img:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.artist-info2:after {
  content: '';
  display: block;
  clear: both;
}

.artist-info2 h3 {
  margin: 0px;
  padding: 0px 0px 0px 12px;
}
.artist-info2 a {
  display: inline-block;
}
.artist-info2 a:first-of-type {
  padding: 10px 0px 0px 48px;
}
.artist-info2 img {
  display: block;
}

.artist-info2-2:after {
  content: '';
  display: block;
  clear: both;
}
.artist-info2-2 img {
  float: left;
  padding: 6px 6px 6px 10px;
}
.artist-info2-2 p:first-of-type{
  font-size: 16px;
  margin-top: 8px;
  margin-left: 1px;
}
.artist-info2-2 p:last-child {
  text-align: right;
}

.artist-info2-2 p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  align-items: right;
  color: rgba(157, 155, 185, 1);
}

/*-- TOP ARTISTS CONTAINER CARD (3)*/

.artist-card3 {
  padding-top: 32px;
}
.artist-card3:after {
  content: '';
  display: block;
  clear: both;
}
.artist-card3 h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(69, 18, 84, 1);
  padding: 15px 10.45px 15px 15px;
}
.artist-card3 img:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.artist-info3:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}

.artist-info3 h3 {
  margin: 0px;
  padding: 0px 0px 0px 12px;
}
.artist-info3 a {
  display: inline-block;
}
.artist-info3 a:first-of-type {
  padding: 10px 0px 0px 72px;
}
.artist-info3 img {
  display: block;
}

.artist-info3-3:after {
  content: '';
  display: block;
  clear: both;
}
.artist-info3-3 img {
  float: left;
  padding: 6px 6px 6px 10px;
}
.artist-info3-3 p:first-of-type{
  font-size: 16px;
  margin-top: 8px;
  margin-left: 1px;
}
.artist-info3-3 p:last-child {
  text-align: right;
}

.artist-info3-3 p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  align-items: right;
  color: rgba(157, 155, 185, 1);
}


/*TOP ARTISTS ROW 2 CONTAINER*/

/*-- TOP ARTISTS CONTAINER CARD (4)*/
.artist-card4 {
  padding-top: 32px;
}
.artist-card4:after {
  content: '';
  display: block;
  clear: both;
}
.artist-card4 h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(69, 18, 84, 1);
  padding: 15px 10px 15px 11px;
}
.artist-card4 img:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.artist-info4:after {
  content: '';
  display: block;
  clear: both;
}

.artist-info4 h3 {
  margin: 0px;
  padding: 0px 0px 0px 15px;
}
.artist-info4 a {
  display: inline-block;
}
.artist-info4 a:first-of-type {
  padding: 10px 0px 0px 97px;
}
.artist-info4 img {
  display: block;
}

.artist-info4-4:after {
  content: '';
  display: block;
  clear: both;
}
.artist-info4-4 img {
  float: left;
  padding: 6px 6px 6px 10px;
}
.artist-info4-4 p:first-of-type{
  font-size: 16px;
  margin-top: 8px;
  margin-left: 1px;
}
.artist-info4-4 p:last-child {
  text-align: right;
}

.artist-info4-4 p {

  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  align-items: right;
  color: rgba(157, 155, 185, 1);
}
/*-- TOP ARTISTS CONTAINER CARD (5)*/

.artist-card5 {
  padding-top: 32px;
}
.artist-card5:after {
  content: '';
  display: block;
  clear: both;
}
.artist-card5 h3 {

  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(69, 18, 84, 1);
  padding: 15px 10.45px 15px 15px;
}
.artist-card5 img:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.artist-info5:after {
  content: '';
  display: block;
  clear: both;
}

.artist-info5 h3 {
  margin: 0px;
  padding: 0px 0px 0px 12px;
}
.artist-info5 a {
  display: inline-block;
}
.artist-info5 a:first-of-type {
  padding: 10px 0px 0px 95px;
}
.artist-info5 img {
  display: block;
}

.artist-info5-5:after {
  content: '';
  display: block;
  clear: both;
}
.artist-info5-5 img {
  float: left;
  padding: 6px 6px 6px 10px;
}
.artist-info5-5 p:first-of-type{
  font-size: 16px;
  margin-top: 8px;
  margin-left: 1px;
}
.artist-info5-5 p:last-child {
  text-align: right;
}

.artist-info5-5 p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  align-items: right;
  color: rgba(157, 155, 185, 1);
}

/*-- TOP ARTISTS CONTAINER CARD (6)*/

.artist-card6 {
  padding-top: 32px;
}
.artist-card6:after {
  content: '';
  display: block;
  clear: both;
}
.artist-card6 h3 {

  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(69, 18, 84, 1);
  padding: 15px 10.45px 15px 15px;
}
.artist-card6 img:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.artist-info6:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}

.artist-info6 h3 {
  margin: 0px;
  padding: 0px 0px 0px 12px;
}
.artist-info6 a {
  display: inline-block;
}
.artist-info6 a:first-of-type {
  padding: 10px 0px 0px 96px;
}
.artist-info6 img {
  display: block;
}

.artist-info6-6:after {
  content: '';
  display: block;
  clear: both;
}
.artist-info6-6 img {
  float: left;
  padding: 6px 6px 6px 10px;
}
.artist-info6-6 p:first-of-type{
  font-size: 16px;
  margin-top: 8px;
  margin-left: 1px;
}
.artist-info6-6 p:last-child {
  text-align: right;
}

.artist-info6-6 p {

  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  align-items: right;
  color: rgba(157, 155, 185, 1);
}


/*TRENDING NFTS CONTAINER BLOCK*/

.trending-nfts {
  margin-top: 132px;
}
.trending-nft-card1 {
  cursor: pointer;
}
.hot-middle-card {
  clear: both;
  overflow: auto;
  padding-bottom: 12px;
}
.hot-middle-card .clock {
  padding: 2px;
}

.trending-nft-card1:after {
  content: '';
  display: block;
  clear: both;
}
.trending-nft-card1-1:after {
  content: '';
  display: block;
  clear: both;
}

.trending-nft-card1 .hot-middle-card {
  border: 1px solid transparent;
  background-color: rgba(160, 160, 214, 0.1);
  border-radius: 12px;
  /* padding: 12px; */
  margin-top: 12px;
  overflow: auto;
  clear: both;
}

.trending-nft-card1 {
  margin-right: 21px;
}
.trending-nft-card1:last-child {
  margin: 0px;
}

/*LIST YOUR ART NFTS CONTAINER BLOCK*/
  /*LADY NFT IMAGE BLOCK*/
.list-your-art {

  padding-top: 132px;

}
.list-your-art:after{
  content: '';
  display: block;
  clear: both;
}
.list-art-item {

  background-color: white;
  border: 1px solid transparent;
  padding: 16px;
  border-radius: 16px;
  margin: 70px 0px 70px 0px;;
}

.list-art-item figcaption {

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(69, 18, 84, 1);
}

.list-art-item #verified {
  padding-left: 8px;
}
.list-art-item p {

font-size: 12px;
font-weight: 500;
line-height: 16px;
text-align: left;
color: rgba(110, 132, 171, 1);
}
.list-art-item:after {
  content: '';
  display: block;
  clear: both;
}

/*MEN NFT IMAGE BLOCK 2*/
.list-art-item2 {
  background-color: white;
  border: 1px solid transparent;
  padding: 16px;
  border-radius: 16px;
  margin-left: 28px;
}

.list-art-item2 figcaption {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(69, 18, 84, 1);
}
.list-art-item2 #verified2 {
  padding-left: 8px;
}
.list-art-item2 p {
  font-family: "Poppins",sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: rgba(110, 132, 171, 1);
}
.list-art-item2:after {
  content: "";
  display: block;
  clear: both;
}
/*LIST ART INFO - CONTAINER BLOCK*/

.list-art-info {
  padding: 98px 140px 98px 0px;
  text-align: left;
}
.list-art-info h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: rgba(33, 32, 74, 1);
}
.list-art-info p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: rgba(100, 96, 159, 1);
}
.art-info_img{
  margin-left: 16px;
}
.art-info_img a {
  display: inline-block;
}
/*ARTIST BUTTON*/
.list-art-info #artist {
  min-width: 169px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #0697f9;
  background-image: linear-gradient(219deg, #0697f9 0%, #f906f9 86%);
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.list-art-info #artist:hover {
  transform: scale(0.90);
    transition: transform 0.3s;
    box-shadow: 40px 0 100px #008cff;
 
}
/*BUYER BUTTON*/

.list-art-info p {
  padding-bottom: 32px;
}

#artist {
  display: block;
  float: left;
}
#buyer {
  padding: 0px;
  display: block;
}


#buyer:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
  
  cursor: pointer;
    
}

.list-art-item:hover {
  box-shadow: 48px 0 50px #a00474;
  cursor: pointer;

}

.list-art-item2:hover {
  box-shadow: 40px 0 50px #008cff;
  cursor: pointer;
}
/* BROWSE BY CATEGORY */

.browse-category {
  margin-top: 132px;
}

.browse-category:after {
  content: '';
  display: block;
  clear: both;
}
.browse-category2:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}
.browse-category .browse-title1 {
  padding-bottom: 32px;
}
.browse-item1 {
  padding: 0 24px 24px 0;
}
.browse-item2 {
  padding: 0 24px 24px 0;
}
.browse-item1 img{
cursor: pointer;
padding: 16px;
gap: 24px;
border-radius: 16px;
border: 0px solid red;
background-color: white;
outline: none;
}

.browse-title1 {

  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #21204A;
}

.browse-item2 img{
cursor: pointer;
padding: 16px;
gap: 24px;
border-radius: 16px;
border: 0px solid red;
background-color: white;
outline: none;


}
.browse-title2 {

  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #21204A;
}

.browse-item3 {
  padding: 0 24px 24px 0;
}

.browse-item3 img{
cursor: pointer;
padding: 16px;
gap: 24px;
border-radius: 16px;
border: 0px solid red;
background-color: white;
outline: none;

}
.browse-category article:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.browse-title3 {

  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #21204A;
}
.browse-item4 {
  padding-bottom: 24px;
}
.browse-item4 img{
  cursor: pointer;
  padding: 16px;
  gap: 24px;
  border-radius: 16px;
  border: 0px solid red;
  background-color: white;
  outline: none;

}
.browse-title4 {

  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #21204A;
}



/* THE PREMIER MARKET PLACE FOR NFTS - CONTAINER BLOCK */

.premier-left_block:after{
  content: "";
  display: block;
  clear: both;
}
.premier-right_block:after{
  content: "";
  display: block;
  clear: both;
}

.premier-left_block h3 {

  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: #21204A;
  padding-top: 78px;
}

.premier-left_block p {

  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #64609F;
  
  padding: 24px 0px 28px 0px;
}

#premier-btn {

  width:151px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 12px;
  border: 2px solid #6692CC;

  color: #6692CC;
  background: transparent;
  cursor: pointer;
  
}
#premier-btn:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.premier-marketplace {
  margin-top: 132px;
  clear: both;
  overflow: auto;
}
.premier-marketplace:after {
  content: "";
  display: block;
  clear: both;
  overflow: auto;
}

.premier-right_block a {
  display: inline-block;
}
.premier-right_block a:nth-child(1)  {
  float: left;
}
.premier-right_block a:nth-child(3)  {
  display: block
}

.premier-right_block img {
  display: block;
}
.premier-right_block .premier-img2 {
  padding-top: 36px;
}
.premier-img1 {
  width: 350px;
  height: 328px;
}

.premier-img2 {
  width: 171.45px;
  height: 160px;
  padding-left: 56px;
}

.premier-img3 {
  width: 128.59px;
  height: 120px;
  padding: 48px 0px 0px 56px ;
}

/* CONTAINE BLOCK ON THE BOTTOM WITH A YOUTUBE FRAME INSIDE */

.why-nfts::after{
  content: "";
  display: block;
  clear: both;
  overflow: auto;
}
.why-nfts {
  background-image: url('/images/why-nfts/bg.jpeg');
  background-size: cover;
  background-position: center center;

  border-radius: 34px;
  height: 417px;
  margin-top: 132px;
  -webkit-box-shadow: inset -47px -38px 132px 57px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -47px -38px 72px 12px rgba(0, 0, 0, 0.7);
  box-shadow: inset -91px -99px 72px 12px rgba(0, 0, 0, 0.7);
  
}
.nfts-title {

  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.nfts-para {

  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #BDCADB;
  margin-bottom: 42px;
}
.nfts-btn {
  width: 263px;
  height: 44px;
  padding: 10px 16px 10px 24px;

  border-radius: 12px ;
  background: linear-gradient(to right, #F906F9 0%, #0698F9 64%);
  background-position: center center;
  outline: none;
  border: transparent;
  cursor: pointer;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;

}
.nfts-btn .nfts-img{
  padding: 4px 2px 2px 9px;
}
.nfts-btn:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
  background: linear-gradient(to right, #f906f9bd 0%, #0698f9be 64%);
}
.nft-left_block:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}
.nft-left_block {
  padding: 110px 0px 89px 58px;
  border-radius: 32px;
}

.nfts-text {
  display: block;
}

/*IFRAME - WHYNFTS CONTAINER*/

.nft-right_block:after{
  content: '';
  display: block;
  clear: both;
}
.nft-right_block {
  padding: 52px 52px 47px 0px;
}
.nft-right_block iframe {
  border-radius: 24px;
}

/*CREATE AND SELL YOUR NFT'S - BLOCK CONTAINER*/
.sell-nfts {
  margin-top: 132px;
}
.sell-nfts article {
  padding: 0px 24px 0px 0px;
}
.sell-nfts article:nth-child(4) {
  padding-right: 0px;
}

.sell-title_block {
  margin: 0 auto;
}
.sell-nfts_title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: rgba(33, 32, 74, 1);
  margin: 0 auto;
  padding-bottom: 48px;
}
.sell-nfts_cards a {
  display: block;
}
.sell-nfts_cards:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}
/* SELL ITEM - CARD 1*/
.sell-item_title1{

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(17, 49, 91, 1);
  padding-top: 24px;
}
.sell-item_para1 {


  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left; 
  padding-top: 12px;
  color: rgba(71, 98, 133, 1);
}

/*SELL ITEM -CARD 2*/
.sell-item_title2{

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(17, 49, 91, 1);
  padding-top: 24px;
}
.sell-item_para2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left; 
  padding-top: 12px;
  color: rgba(71, 98, 133, 1);
}
/*SELL ITEM -CARD 3*/
.sell-item_title3{

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(17, 49, 91, 1);
  padding-top: 24px;
}
.sell-item_para3 {

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left; 
  padding-top: 12px;
  color: rgba(71, 98, 133, 1);
}
/*SELL ITEM -CARD 4*/
.sell-item_title4{

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(17, 49, 91, 1);
  padding-top: 24px;
}
.sell-item_para4 {


  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left; 
  padding-top: 12px;
  color: rgba(71, 98, 133, 1);
}
/* DOWNLOAD MY NFT APP - CONTAINER BLOCK*/

.nft-app_container {
  
  margin: 132px 0px 132px 0px;
  border-radius: 32px;
  background-color: rgba(110, 132, 171, 1);
  height: 274px;
}
.nft-app_item1 {
  padding: 75px 0px 72px 49px;
}
.nft-app_title {


  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: white;
  margin-bottom: 32px;
}
.nft-title_thin {


font-size: 18px;
font-weight: 300;
line-height: 24px;
text-align: left;

}
.nft-app_btn1 {
  margin-right: 12px;
}
.nft-app_btn1:hover {
  transform: scale(0.90);
  transition: transform 0.3s;
}
.nft-app_btn2:hover {
  transform: scale(0.90);
    transition: transform 0.3s;
}


.nft-app_iphones {
  margin: 26px 0px 0px 78px;
}
.nft-app_iphones a{
  display: block;
}
.nft-app_iphones a img {
  display: block;
}
.nft-app_iphones:after{
  content: '';
  display: block;
  clear: both;
}
.nft-app_barcode{
  margin: 50px 50px 50px 0px;
}

.nft-app_barcode:after {
  content: '';
  display: block;
  clear: both;
}
.nft-app_img3 {
  cursor: pointer;
}
.nft-app_img4 {
  display: block;
}

.nft-barcode_text {
  display: inline-block;
  
}
.nft-appbr_text .nft-barcode_text {
  padding: 25px 20px 20px 25px;
  color: rgba(240, 246, 255, 1);
}
.nft-appbr_text .nft-app_img4 {
  padding-bottom: 42px;
} 
/*FOOTER - INFORMATION */

footer {
  background-image: url('/images/Noise.png');
  background-color: rgba(33, 32, 74, 1);
}
.footer-block1:after{
  content: '';
  display: block;
  clear: both;
}

.footer-block1 {
  margin-top: 64px;
}
.footer-block_title {

font-size: 24px;
font-weight: 600;
line-height: 36px;
text-align: left;
color: white;
display: inline-block;
padding: 5px;
display: block;


}
.footer-block1 a{
  float: left;
  padding-right: 16px;
}
.footer-block_text1 {
  margin-top: 20px;

font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: left;
color: rgba(189, 202, 219, 1);

}
.footer-block_text2 {
  margin-top: 20px;

font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: left;
color: rgba(189, 202, 219, 1);

}
/*NAVIGATION LIST*/

/*UL FIRST MENU*/
.footer-nav_list1:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}
.footer-nav_list1 {
  margin: 64px 69px 0px 176px;
}
.footer-nav_list1 ul li {

font-size: 14px;
font-weight: 300;
line-height: 21px;
text-align: left;
padding: 10px;
transition: box-shadow 0.3s ease;
border-radius: 5px;
}
.footer-nav_list1 ul li a {
  color: rgba(189, 202, 219, 1);
  text-decoration: none;
}
.footer-nav_list1 ul li:first-of-type{

font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
  color: white;
  padding-bottom: 20px;
} 
/*UL SECOND MENU */
.footer-nav_list2 {
  margin-top: 64px;
}
.footer-nav_list2 ul li {

  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  padding: 10px;

  }
  .footer-nav_list2 ul li a {
    color: rgba(189, 202, 219, 1);
    text-decoration: none;
  }
  .footer-nav_list2 ul li:first-of-type{
  
   
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
    color: white;
    padding-bottom: 20px;
  } 
  .footer-nav:after {
    content: '';
    display: block;
    clear: both;
  }
  .footer-nav2:after {
    content: '';
    display: block;
    clear: both;
  }

  .media:after {
    content: '';
    display: block;
    clear: both;
  }

  .footer-nav_list1 ul li:hover {
    transform: scale(0.90);
    transition: transform 0.3s;
  }


  .footer-nav_list2 ul li:hover {
    transform: scale(0.90);
    transition: transform 0.3s;

  }
.footer-nav_list1 ul li:first-of-type{
  transform: none;
  transition: none;
}
.footer-nav_list2 ul li:first-of-type{
  transform: none;
  transition: none;
}

/*SEND EMAIL - OR SUBSCRIBE - CONTAINER BLOCK*/

.form-wrapper {
  max-width: 100%;
  margin-top: 74px;
  margin-left: 55px;
  
}
.form-wrapper:after {
  content: '';
  display: block;
  clear: both;
  overflow: auto;
}
.form-title {

font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: white;
padding-bottom: 30px;

}
.send-form:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}

.send-form input {
  min-width: 308px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid grey;
  background-color: rgba(215, 214, 220, 0.2);
}

.send-form .fa-regular {
  position: absolute;
  padding: 10px 0 0 13px;
  font-size: 25px;
  color: rgba(157, 155, 185, 1);
}
.send-form ::placeholder {

  color: rgba(157, 155, 185, 1);
}
.form-wrapper:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}
.send-form input[type=email]{
  padding-left: 50px;
  color: whitesmoke;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  
}
.send-form {
  position: relative;
}
.send-form button {
  position: absolute;
  right: 5px;
  top: 6px;
  width: 114px;
  height: 36px;
  gap: 0px;
  border-radius: 8px;
  background-color: rgba(205, 226, 254, 1);
  border: none;
  font-size: 16px;


  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
/*JOIN OUR COMMUNITY - CONTAINER BLOCK*/

.form-social {
  margin-top: 60px;
  margin-left: 55px;
}
.form-social:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}
.social-title {
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: white;
padding-bottom: 30px;
}
.form-social_list .fa-brands {
  color: rgba(189, 202, 219, 1);
  font-size: 18px;
}
.form-social_list li {
  display: inline;
  padding-right: 25px;
}
.hr-clear {
  max-width: 1200px;
}
.form-social {
  margin-bottom: 30px;
}
/*END OF WEB CODE */

