.clearfix {
    clear: both;
}
.text-center {
    text-align: center;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #eef1ff;
  }


main {
    max-width: 1200px;
    margin: auto;
}

footer {
    max-width: 1200px;
    margin: auto;
    font-family: "Poppins", sans-serif;
}

header {
    background: #21204A; 
    background-image: url('/images/Noise.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 61px;
    font-family: "Poppins", sans-serif;
}
/*  THIS IS HEADER INFORMATION CONTAINER */
.head_container {
    width: 100%;
    max-width: 1320px;
    margin: auto;

}

header h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: aliceblue;
    padding-top: 100px;
}

header p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #BDCADB;
    margin-top: 20px;
}
header nav a {
    text-decoration: none;
    size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #BDCADB;
    display: flex;
}

header nav ul li:nth-child(1) a {
    color: white;
}

header nav a:hover {
    color: rgb(255, 255, 255);
}

header #wallet {
    width: 170px;
    height: 44px;
    border-radius: 12px;
    background: transparent;
    color: aliceblue;
    border: 1px solid white;
}

header #explore {
    width: 192px;
    height: 48px;
    border-radius: 12px;
    background: rgb(249,6,249);
    background: linear-gradient(42deg, rgba(249,6,249,1) 0%, rgba(6,152,249,1) 100%);
    padding: 4px 4px 4px 24px;
    
    color: aliceblue;
    border: 0px transparent;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 48px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    transition: background-color 0.3s, transform 0.1s;
}

#explore img {
    border: 1px solid white;
    border-radius: 12px;
    background: white;
    align-items: center;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.header_leftcol button img{
    width: 40px;
}

/* Hover state */


/* Active state (when button is pressed) */
#explore:active {
    transform: scale(0.95);
    background: rgba(249, 6, 249, 0.719);
    background: linear-gradient(42deg, rgba(249, 6, 249, 0.775) 0%, rgba(6, 152, 249, 0.752) 100%);
}

/* Focus state (when button is focused, e.g., via keyboard) */
#explore:focus {
    outline: none; /* Remove default outline */ 
}
/*  THIS IS THE END OF HEADER INFORMATION CONTAINER */

/* Basic button styles */
#wallet {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

/* Hover state */


/* Active state (when button is pressed) */
#wallet:active {
    transform: scale(0.95);
    border: solid 1px rgba(249, 6, 249, 0.719);
    /* background: rgba(249, 6, 249, 0.719);
    background: linear-gradient(42deg, rgba(249, 6, 249, 0.775) 0%, rgba(6, 152, 249, 0.752) 100%); */
}

/* Focus state (when button is focused, e.g., via keyboard) */
#wallet:focus {
    outline: none; /* Remove default outline */ 
}
/*  THIS IS THE END OF HEADER INFORMATION CONTAINER */ /*------------------------------------------------------------------*/

/* THIS IS THE START OF MAIN CONTAINER INFORMATION */
.section1_info {
    margin-bottom: 40px
}
.section1_info h2 {
    gap: 10px;
    color: #21204A;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    background: linear-gradient(98deg,#F906F9 0%, #0698F9 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1_info #crypto {
    width: 146px;
    height: 44px;
    border-radius: 12px;
    padding: 10px 16px 10px 24px;
    gap: 10px;
    background: #CDE2FE;
    border: 0px solid ;
    font-weight: 500;
    color: #476285;
}
.section1_info #crypto:active {
    border: solid 0px;

}
.section1_info #crypto:focus {
    outline: none;
}

.section1_info #see_all {
    width: 101px;
    height: 44px;
    border-radius: 12px;
    border: 2px;
    padding: 10px 24px 10px 24px;
    gap: 10px;
    color: #6692CC;
    border: 2px solid;
    font-weight: 500;
    size: 16px;
    line-height: 25px;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.1s;
}
.section1_info #see_all:active {
    transform: scale(0.95);
    border: solid 1px #6692cc86;;
}

