/* *  {
  outline: 1px solid green !important;
  box-sizing: border-box;
}  */


.clearfix {
  clear: both;
}
.text-center {
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.head-banner {

  margin: auto;
  background-color: #21204A;
  background-image: url(/images/Noise.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /* Add this line */
  background-attachment: fixed;
  width: 100%;
  height: 540px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  font-family: "Poppins", sans-serif;
}

.container-main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    clear: both;
    font-family: "Poppins", sans-serif;
    padding-top: 62px;
  }
  

body {
   
    background-color: #eef1ff;
    overflow-x: hidden;
  }
  
  .header {
    padding: 24px 0px;
    overflow: auto;
  }

  .header-logo img {
    padding-top: 10px;
  }
  .header-menu {
    margin-left: 232px;
    overflow: hidden;
  }
  .header-menu ul {
    overflow: hidden;
  }
  .header-menu li {
    float: left;
    padding: 20px;
  }


  .header-menu li:nth-child(6){
    padding-left: 0px;
  }
  
  .header-menu li a {
    text-decoration: none;
    color: white;
    /* styleName: Body 1/semibold; */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 20px 15px;
    border-bottom: 1px solid transparent;

  }

  .header-menu li:first-child a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }

  .header-menu li a:hover {
    border-bottom: 1px solid  rgba(125, 3, 99, 0.464);

  }
  .header-button {
    padding: 10px 24px 10px 24px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #BDCADB;
    border-radius: 12px;
    overflow: hidden;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }


  .header-button {
    color: #BDCADB;
  }
  
  .header-button:active {
    transform: scale(0.95);
    transition: background-color 0.3s, transform 0.1s;
    border-radius: 12px;
  }
  
  .header-button:active {
    border: 2px solid rgb(125, 3, 99);
  }
  
  .head-info {
    overflow: auto;
  }

.header-rightcol {
  width: 655px;
  height: 592px;
  overflow: hidden;
}
  
.header_-eftcol {
  overflow: hidden;

}

.header-leftcol h1 {
  color: white;
  font-size: 40px;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 76px;
}

.header-leftcol p {
  color: #BDCADB;
  font-size: 14px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 48px;

}

.explore-btn {
  border-radius: 12px;
  border: none;
  padding: 4px 4px 4px 24px;
  width: 192px;
  height: 48px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: auto;
  text-align: center;

  background: #F906F9;
  background: linear-gradient(to right, #F906F9 0%, #0698F9 64%);
  overflow: auto;
  cursor: pointer;
}


.explore-btn:active {
  transform: scale(0.95);
  transition: background-color 0.3s, transform 0.10s;
  background: #F906F9;
  background: linear-gradient(to right, #f906f976 0%, #0698f96e 64%);
  overflow: auto;
}


.exp-btn-box {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
.exp-btn-box:active {
  background-color: transparent;
}
.exp-btn-img {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.exp-text {
  padding-top: 8px;
}


main {
  clear: both;
  overflow: hidden;
}


a {
  transition: background-color 0.3s; /* Add a transition effect to background-color */
  border: none;
  outline: none;
  border-radius: 10px;
}

a:focus {
  
  background-color: #eb05051d; /* Change the background color on focus */
  transition: background-color 0.3s; /* Add a transition effect to background-color */
}

a:hover {
  background-color: #cccccc07; /* Change the background color on hover */
}

.section1_info {
  clear: both;
  overflow: hidden;
  padding-bottom: 32px;
}

/*FIRST BLOCK CARD GROUP*/
.cards-container {
  overflow: hidden;
}

.block1-menu {
  overflow: hidden;
  clear: both;
}
.hot-actions {
  overflow: hidden;
  clear: both;
}
.left-info {
  overflow: hidden;
}

.left-info h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #F906F9,#0698F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.drop-list-btn {
  padding-left: 26px;
}
select {
  width: 146px;
  height: 44px;
  padding: 10px 16px 10px 24px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  outline: none;
  border: none;
}
select:hover {

  background: #F906F9;
  background:  #d6e7ff;
  overflow: auto;
  color: #03387e;
  background-image: url('/images/icons/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px; /* Размер вашей пользовательской стрелки */
  text-align: center;

}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 16px;
    border: 0px solid #CDE2FE;
    border-radius: 12px;
    background-color: #CDE2FE;
    color: #476285;
    background-image: url('/images/icons/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px; /* Размер вашей пользовательской стрелки */
    text-align: center;
    gap: 10px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.left-info form {
  border-radius: 12px;
  padding-top: 2px;
}

.card-bid-title {
  padding-top: 16px;
}
.card-bid1 {
  width: 252px;
  height: 468px;
  border-radius: 16px;
  padding: 16px;
  background-color: white;
  overflow: hidden;
  margin: 0px 21px 0px 0px;
}
.card-bid1:last-child{
  margin: 0;
}
.hot-title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #21204A;
}
.hot-text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9D9BB9;
}

.hot-subtitle1 p  {
  font-size: 12px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9D9BB9;
}

.hot-subtitle2 p {
  font-size: 12px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9D9BB9;
}

.hot-subtitle1 h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #21204A;
}
.hot-subtitle2 h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #21204A;
}

.hot-middle-card {
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 7px;
}
.hot-bottom-card {
  overflow: hidden;

}
.hot-bottom-card figcaption{
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: rgba(157, 155, 185, 1);
}
.hot-bottom-card figure {
  overflow: hidden;
}


.hot-artist-name {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #9D9BB9;
}

hr {
  width: 250px;
      background: linear-gradient(to right, rgba(255, 126, 95, 0), rgba(6, 152, 249, 1), rgba(249, 6, 249, 1), rgba(255, 126, 95, 0)); 
  border: 0;
  height: 1px;
}

.sort-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 24px 10px 24px;
  font-size: 16px;
  border: 2px solid rgba(102, 146, 204, 1);
  border-radius: 12px;
  background-color: transparent;
  color: rgba(102, 146, 204, 1);
  text-align: center;
  gap: 10px;
  margin: auto;
  margin-top: 2px;
}
.sort-btn a {
  text-decoration: none;
  color: rgba(102, 146, 204, 1);
}
.sort-btn1 {
  padding-left: 8px;
}
.sort-btn1 a {
  text-align: center;
  border-radius: 0px;

}
.sort-btn1 a{
 display:-moz-inline-box;
  display:inline-block;
  min-width:34px;
}
.sort-btn1 img {
  width: 44px;
  height: 44px;
  float: right;
}
