/* * {
  outline: 2px solid green !important;
} */

.clearfix {
  clear: both;
}
.text-center {
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.container {
  width: 1440px;
  max-width: 1200px;
  margin: auto;
  overflow: auto;
}

body {
    position: relative; /* add this */
    background-color: #eef1ff;
  }
  

  .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/images/BG.png');
  }
  .header {
    padding: 24px 0px;
    overflow: auto;

  }
  .header-logo {
    width: 40px;
    padding-top: 10px;
  }
  .header-menu {
    margin-left: 100px;
    overflow: hidden;
  }
  .header-menu ul {
    overflow: hidden;
  }
  .header-menu li {
    float: left;
    padding: 20px;
  }
 
  .header-menu li:nth-child(6){
    padding-left: 0px;
  }
  
  .header-menu li a {
    text-decoration: none;
    color: #6d053d;
    /* styleName: Body 1/semibold; */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 20px 30px;
    border-bottom: 1px solid transparent;

  }

  .header-menu li:first-child a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }

  .header-menu li a:hover {
    border-bottom: 1px solid orange;

  }
  .header-button {
    padding: 10px 24px 10px 24px;
    margin-top: 10px;
    cursor: pointer;
  }
